<!DOCTYPE html>
<html>
<head>
	<title>Document</title>
</head>
<body>
	Логин - <input type="text" name="login">
	Пароль - <input type="password" name="password">
	Имя - <input type="text" name="name">
	Фамилия - <input type="text" name="family">
</body>
</html>