<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="css/panel/home.css">
	<script type="text/javascript">
		
	</script>
</head>
<body>
	<div class="title">
		<h3>Панель управления</h3>
	</div>

	<div class="box">
		<div class="titlebox">
			<p>Краткая информация</p>
		</div>

		<div class="contentbox">
			<table>
				<tr>
					<td>Никнейм</td>
					<td><%= user.login %></td>
				</tr>

				<tr>
					<td>Количество ботов</td>
					<td>1</td>
				</tr>

				<tr>
					<td>Активных</td>
					<td>1</td>
				</tr>
			</table>
		</div>
	</div>

	<div class="box">
		<div class="titlebox">
			<p>Краткая информация</p>
		</div>
	</div>

	<div class="box">
		<div class="titlebox">
			<p>Краткая информация</p>
		</div>
	</div>
</body>
</html>